@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
.gochi-hand-regular {
  font-family: "Gochi Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Gochi Hand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#DEC2DB, #9C92C7, #6DA0E1, #5B62B3);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#slidebar {
  display: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
}
z
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #5B62B3;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100% !important;
  left: 0;
  z-index: 1 !important;
  top: 9vh !important;
}

/* General sidebar styles */
.bm-menu {
  background: #5B62B3;
  padding: 0;
  font-size: 1.15em;
  height: auto !important;
  top: 9vh;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #282439;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  height:auto !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 1em;
  color: white;
  text-decoration:none;
  font-weight:700;
  text-transform: uppercase;
  font-style:normal;
}



/* Styling of overlay */
.bm-overlay {
  background: none !important;
}

.over {
  z-index: 100;
  position: relative;
  left: 35%;
}
